/* COLORS */
/* FONTS */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@-webkit-keyframes pulse-skills {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse-skills {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  background-color: #33313B;
  color: #E6F5FF;
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

nav {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  position: fixed;
  z-index: 9;
}

.menu-bar {
  border-radius: 2.5rem;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  background-color: #3C4F65;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.menu-bar__button {
  position: relative;
  font-size: 2.2rem;
  margin: 0 0.8rem;
  cursor: pointer;
  padding: 1.5rem 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 1;
}

.menu-bar__button a {
  text-decoration: none;
  color: #E6F5FF;
}

.menu-bar__button::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 25px;
}

.menu-bar__button:hover::before {
  background: #E6F5FF;
  -webkit-box-shadow: 0px 3px 20px 0px black;
          box-shadow: 0px 3px 20px 0px black;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu-bar__button:hover a {
  color: #33313B;
}

.aboutme {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutme__arrow-icon {
  height: 6rem;
  width: 6rem;
  font-size: 2rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 5rem;
  left: 50%;
  border-radius: 50%;
  border: 0.2rem solid #E6F5FF;
  -webkit-animation: 1s ease infinite pulse;
          animation: 1s ease infinite pulse;
}

.aboutme__arrow-icon i {
  color: #E6F5FF;
}

.aboutme--left-column {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutme--right-column {
  padding-right: 5rem;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutme__greet {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.aboutme__name {
  font-size: 12rem;
}

.aboutme__subtitle {
  font-size: 2.4rem;
  font-weight: bold;
  color: #834C69;
}

.aboutme__info {
  padding: 2rem 0;
  font-size: 2rem;
}

.aboutme__button {
  padding: 1rem 2.6rem;
  text-decoration: none;
  color: #E6F5FF;
  text-transform: uppercase;
  font-size: 2.6rem;
  border: 0.4rem solid #834C69;
  border-radius: 2.5rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.aboutme__button:hover {
  background-color: #834C69;
}

.aboutme__img {
  width: 40%;
}

.skills__background {
  background-color: #3C4F65;
}

.skills {
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__title {
  font-size: 4rem;
  position: relative;
  padding-bottom: 10rem;
  text-transform: uppercase;
}

.skills__title::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 4.5rem;
  width: 8rem;
  height: .5rem;
  background-color: #834C69;
}

.skills__wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills__line {
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__line--first {
  padding-right: 10rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__line--second {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15rem;
}

.skills__line--third {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills__line--fourth {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__skill-name {
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: 0.5rem solid #834C69;
  background-color: #834C69;
  border-radius: 2.5rem;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: -3px 3px 5px #312f2f;
          box-shadow: -3px 3px 5px #312f2f;
}

.skills__skill-name:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.pulse1 {
  -webkit-animation: 10s 3.6s ease  infinite pulse-skills;
          animation: 10s 3.6s ease  infinite pulse-skills;
  -webkit-animation-play-state: 2s;
          animation-play-state: 2s;
}

.pulse2 {
  -webkit-animation: 10s .9s ease infinite pulse-skills;
          animation: 10s .9s ease infinite pulse-skills;
}

.pulse3 {
  -webkit-animation: 10s 8.1s ease infinite pulse-skills;
          animation: 10s 8.1s ease infinite pulse-skills;
}

.pulse4 {
  -webkit-animation: 10s 4.5s ease infinite pulse-skills;
          animation: 10s 4.5s ease infinite pulse-skills;
}

.pulse5 {
  -webkit-animation: 10s 7.2s ease infinite pulse-skills;
          animation: 10s 7.2s ease infinite pulse-skills;
}

.pulse6 {
  -webkit-animation: 10s 1.8s ease infinite pulse-skills;
          animation: 10s 1.8s ease infinite pulse-skills;
}

.pulse7 {
  -webkit-animation: 10s  9s ease infinite pulse-skills;
          animation: 10s  9s ease infinite pulse-skills;
}

.pulse8 {
  -webkit-animation: 10s 6.3s ease infinite pulse-skills;
          animation: 10s 6.3s ease infinite pulse-skills;
}

.pulse9 {
  -webkit-animation: 10s 2.7s ease infinite pulse-skills;
          animation: 10s 2.7s ease infinite pulse-skills;
}

.pulse10 {
  -webkit-animation: 10s 9.9s ease infinite pulse-skills;
          animation: 10s 9.9s ease infinite pulse-skills;
}

.pulse11 {
  -webkit-animation: 10s 5.4s ease infinite pulse-skills;
          animation: 10s 5.4s ease infinite pulse-skills;
}

.projects {
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__title {
  font-size: 4rem;
  position: relative;
  padding-bottom: 10rem;
  text-transform: uppercase;
}

.projects__title::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 4.5rem;
  width: 8rem;
  height: .5rem;
  background-color: #834C69;
}

.projects__cards-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__card-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8rem;
}

.projects__card-box--right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projects__card {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30rem;
  width: 48%;
  border-radius: 1.5rem;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.projects__card:hover .projects__card-wrapper-text {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1;
}

.projects__card:hover .projects__card-img {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  opacity: 0;
}

.projects__card-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.projects__card-img::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: #834C69;
  opacity: .3;
}

.projects__card-wrapper-text {
  position: absolute;
  color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.projects__card-button-info {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: none;
  border: none;
  color: #E6F5FF;
  font-size: 36px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.projects__info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__link {
  text-decoration: none;
  color: #E6F5FF;
  font-size: 3rem;
  margin-bottom: 2rem;
  -webkit-transition: .2s;
  transition: .2s;
  border: 2px solid #E6F5FF;
  border-radius: 2.5rem;
  padding: 1rem 2rem;
}

.projects__link:hover {
  color: #33313B;
  background-color: #E6F5FF;
}

.fortiori {
  background-image: url("../../img/Screenshot 2022-01-02 120835.jpg");
}

.paradise {
  background-image: url("../../img/Screenshot 2022-01-02 110732.jpg");
}

.money {
  background-image: url("../../img/Screenshot 2022-01-02 111517.jpg");
}
/*# sourceMappingURL=style.css.map */