/* COLORS */
/* FONTS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  background-color: #33313B;
  color: #E6F5FF;
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

nav {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 0;
  position: fixed;
}

.menu-bar {
  border-radius: 2.5rem;
  padding: 0 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  background-color: #3C4F65;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.menu-bar__button {
  position: relative;
  font-size: 2.2rem;
  margin: 0 0.8rem;
  cursor: pointer;
  padding: 1.5rem 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 1;
}

.menu-bar__button::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 25px;
}

.menu-bar__button:hover {
  color: black;
}

.menu-bar__button:hover::before {
  background: #E6F5FF;
  -webkit-box-shadow: 0px 3px 20px 0px black;
          box-shadow: 0px 3px 20px 0px black;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.aboutme {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutme--left-column {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutme--right-column {
  padding-right: 5rem;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutme__greet {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.aboutme__name {
  font-size: 12rem;
}

.aboutme__subtitle {
  font-size: 2.4rem;
  font-weight: bold;
  color: #834C69;
}

.aboutme__info {
  padding: 2rem 0;
  font-size: 2rem;
}

.aboutme__button {
  padding: 1rem 2.6rem;
  text-decoration: none;
  color: #E6F5FF;
  text-transform: uppercase;
  font-size: 2.6rem;
  border: 0.4rem solid #834C69;
  border-radius: 2.5rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.aboutme__button:hover {
  background-color: #834C69;
}

.aboutme__img {
  width: 40%;
}
/*# sourceMappingURL=style.css.map */