*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-color: $dark-color;
    color: $text-color;
    font-family: $main-text;

}

main {
    width: 100%;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.btn-white {
        position: relative;
        padding: 1rem 2.6rem;
        text-decoration: none;
        color: $text-color;
        text-transform: uppercase;
        border: .4rem solid $text-color;
        border-radius: 2.5rem;
        transition: .1s;
        overflow: hidden;  
        margin-bottom: 2rem;      

        &:hover{
            color: $dark-color;
            &::after{
                animation: slide 1s  1 forwards;

            }
        }
    &::after {
        content: " ";
        position: absolute;
        top: -5%;
        left: -111%;
        width: 110%;
        height: 120%;
        background-color: $text-color;
        z-index:-1;

        
    }
}

.light-background {
    background-color: $light-color;
}
.title {
    font-size: 4rem;
        position: relative;
        padding-bottom: 10rem;
        text-transform: uppercase;
        &::after {
            content: " ";
            position: absolute;
            left: 0;
            top: 4.5rem;
            width: 8rem;
            height: .5rem;
            background-color: $main-color;
            
        }
}

@media (max-width: 768px) {
    .btn-white {
        padding: 1rem 1.6rem;
        border: .2rem solid $text-color;

    }
}

@media (max-width: 576px) {
    .title {
        font-size: 3rem;

        &::after {
            top: 3.5rem;
        }
    }
}