.aboutme {
    height: 100vh;
    width: 100%;
    display: flex;

    &__arrow-icon {
        height: 6rem;
        width: 6rem;
        font-size: 2rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 5rem;
        left: 50%;
        border-radius: 50%;

        border: .2rem solid $text-color;

        &:hover {

            animation: 1s ease infinite pulse;
        }

        i {
            color: $text-color;
        }
    }

    &--left-column {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
   
    }

    &--right-column {
        padding-right: 5rem;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }
    &__greet {
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    &__name {
        font-size: 12rem;
        overflow: hidden;
        width: 110%;
        animation: type .4s .1s steps(60, end); 


    }

    &__surname {
        font-size: 12rem;
        overflow: hidden;
        width: 110%;
        animation: type2 .8s .1s steps(60, end);

        span {
            animation: blink 2.3s infinite;

        }

    }

    &__subtitle {
        font-size: 2.4rem;
        font-weight: bold;
        color: $main-color;
    }

    &__info {
        padding: 2rem 0;
        font-size: 2rem;
    }

    &__button {
        position: relative;
        padding: 1rem 2.6rem;
        text-decoration: none;
        color: $text-color;
        text-transform: uppercase;
        font-size: 2.6rem;
        border: .4rem solid $main-color;
        border-radius: 2.5rem;
        transition: .2s;
        overflow: hidden;

        &:hover{
            &::after{
                animation: slide 1s  1 forwards;

            }
        }
        &::after {
            content: " ";
            position: absolute;
            top: -5%;
            left: -111%;
            width: 110%;
            height: 120%;
            background-color: $main-color;
            z-index: -1;
        }
    }

    &__img {
        width: 40%;
    }

}