
nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 3rem 5rem;
    position: fixed;
    z-index: 9;
}


.menu-bar {
    border-radius: 2.5rem;
    padding: 0 1rem;
    display: flex;
    list-style-type: none;
    background-color: $light-color;
    backdrop-filter: blur(10px);  



    &__button {
        position: relative;
        font-size: 2.2rem;
        margin: 0 0.8rem;
		cursor: pointer;
		padding: 1.5rem 1.6rem;
        text-transform: uppercase;
        font-weight: bold;
        z-index: 1;

        a{
            text-decoration: none;
            color: $text-color;

        }

        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
			transition: .2s;
			border-radius: 25px;
        }

        &:hover {
            &::before {
                background: $text-color;
                box-shadow: 0px 3px 20px 0px black;
				transform: scale(1.2);
            }
            a {
                color: $dark-color;
            }

        }

    }
}

@media (max-width: 768px){

    nav {
        justify-content: center;
        padding: 3rem 1rem 3rem 1rem;
    }
    .menu-bar {
        &__button {
            font-size: 1.6rem;
        }
    
       
    }
    }

    @media (max-width: 568px){

        .menu-bar {
            &__button {
                font-size: 1.2rem;
                margin: 0 0.2rem;

            }
        
           
        }
    }