.projects-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 12rem 5rem;

    &__wrapper {
        width: 95%;
        padding-bottom: 2rem;
    }

    &__card {
        margin: 0 2rem;
        height: 30rem;
        position: relative;
        overflow: hidden;
        border-radius: 1.5rem;

        :focus {
            background-color: #fff;
        }
        

        
        &:hover .projects-small__links{

            transform: scale(1.1);
            opacity: .8;

        }
        
    }

    &__img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size:cover;

        
    }

    &__links {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        opacity: 0;
        transition: .5s;

        

       

    }

    &__link {
        font-size: 1.2rem;
    } 
}


.one {
    background-image: url('../../img/weatherApp.jpg');
}

.two {
    background-image: url('../../img/tipcalculator.jpg');
}
.three {
    background-image: url('../../img/money.jpg');
}

.four {
    background-image: url('../../img/paradise.jpg');

}

.five {
    background-image: url('../../img/wykresy.jpg');
}

.six {
    background-image: url('../../img/meet-landing-page.jpg');
}


@media (max-width: 992px){

    .projects-small {
        &__card {
            flex-direction: column;

            &:hover .projects-small__links{

                transform: scale(1);
                opacity: .9;
    
            }
        }

        
        &__links {
            opacity: .9;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            background-color: $light-color;
            bottom: 0;
            height: 25%;
        
        }

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.8rem;
            padding: 1rem 1rem;
            margin: 0;
            border: .1rem solid $text-color;


            span {
                display: none;
            }
        }

        &__wrapper {
            flex-wrap: wrap;
        }
       
    }
}

@media (max-width: 768px){

    .projects-small {

        &__card {
            height: 20rem
        }

    }
}

@media (max-width: 568px){

    .projects-small {
        padding: 7rem 3.5rem;
        &__card {
            width: 48%;
            margin-bottom: 4rem;
            height: 20rem
        }
    }
}

@media (max-width: 460px){

    .projects-small {

        &__card {
            width: 90%;
            margin-bottom: 4rem;
            height: 20rem
        }
    }
}