
.skills {
    padding: 12rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;


    &__wrapper {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__line {
        padding-bottom: 3rem;
        display: flex;
        &--first {
            padding-right: 10rem;
            justify-content: space-between;
        }

        &--second {
            justify-content: space-between;
            padding-left: 15rem;

        }

        &--third{
             justify-content: space-around;

            }

        &--fourth{
            justify-content: space-between;
        }
    }

    &__skill-name {
        font-size: 2.2rem;
        text-transform: uppercase;
        padding: 1rem 2rem;
        border: .5rem solid $main-color;
        background-color: $main-color;
        border-radius: 2.5rem;
        transition: .2s;
        box-shadow: -3px 3px 5px rgb(49, 47, 47);


        // &:hover {
        //     transform: scale(1.2);
        // }
    }
}

.pulse1 {
    animation: 10s 3.6s ease  infinite pulse-skills;
    animation-play-state: 2s;

}
.pulse2 {
    animation: 10s .9s ease infinite pulse-skills;
}
.pulse3 {
    animation: 10s 8.1s ease infinite pulse-skills;
}
.pulse4 {
    animation: 10s 4.5s ease infinite pulse-skills;
}
.pulse5 {
    animation: 10s 7.2s ease infinite pulse-skills;
}
.pulse6 {
    animation: 10s 1.8s ease infinite pulse-skills;
}
.pulse7 {
    animation: 10s  9s ease infinite pulse-skills;
}
.pulse8 {
    animation: 10s 6.3s ease infinite pulse-skills;
}
.pulse9 {
    animation: 10s 2.7s ease infinite pulse-skills;
}
.pulse10 {
    animation: 10s 9.9s ease infinite pulse-skills;
}
.pulse11 {
    animation: 10s 5.4s ease infinite pulse-skills;
}


@media (max-width: 992px) {
    .skills {
        &__skill-name {
            font-size: 1.4rem;
        }
    }
}

@media (max-width: 768px) {
    .skills {

        &__wrapper {
        width: 90%;
        }

        &__line {
            padding-bottom: 1.2rem;

        }

        &__skill-name {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 568px) {
    .skills {

        padding: 7rem 0;
        &__skill-name {
            font-size: 1rem;
        }

        &__line {
            &--first {
                padding-right: 3rem;
            }
    
            &--second {
                justify-content: space-between;
                padding-left: 6rem;
    
            }
    
        
        }
       
    }
}

@media (max-width: 460px){

    .skills {
        &__line {
    
            &--second {
                justify-content: space-between;
                padding-left: 3rem;
    
            }
    
        
        }
       
    }
}